
*{
	margin: 0;
	padding: 0;
}

/* 头部 */
.header{
	width: 100%;
	height: 0.86rem;
	display: flex;
	justify-content: space-between;
	box-shadow: -0.266667vw 0 0.533333vw rgba(0,0,0,.6);

}
.header i:nth-child(1){
	font-size: .5rem;
	line-height: 0.86rem;
	color: #10cb93;
	font-weight: bolder;
	margin-left: 15px;
}

.header i:nth-child(2){
	font-size: .3rem;
	margin: auto;
}
.header i:nth-child(3){
	font-size: .5rem;
	line-height: 0.86rem;
	color: #10cb93;
	font-weight: bolder;
	margin-right: 15px;
}


/* 列表 */
.bookListWrapper{
	position: absolute;
	top:.86rem;
	left: 0;
	right: 0;
	bottom: .98rem;
	overflow: scroll;
}
.bookListWrapper>ul>li{
	width: 100%;
	height: 2.68rem;
	display: flex;
	padding-left: .32rem;
	border-bottom: 2px solid #f3f3f3;

}
.bookListWrapper>ul>li>.box{
	width: 100%;
	height: 100%;
	display: flex;
	padding:.4rem .32rem .4rem 0;
	/* background:#cfc; */
}
.bookListWrapper>ul>li>.box>.listBox{
	width: 4.86rem;
	height: 1.86rem;
	margin-right: .32rem;
	/* background:#ff0 */
}
.bookListWrapper>ul>li>.box>.picBox{
	width: 1.68rem;
	height: 1.6rem;
	margin-top: .22rem;
	position: relative;

}
.bookListWrapper>ul>li>.box>.picBox>img:nth-child(1){
    display: inline-block;
    position: absolute;
	left: 0;
	bottom: 0;
	width: .86rem;
	height: 1.16rem;
    border: 1px solid rgba(0,0,0,.1);
    z-index: 2;
}

.bookListWrapper>ul>li>.box>.picBox>img:nth-child(2){
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	border: 1px solid rgba(0,0,0,.1);
	z-index: 2;
	width: .86rem;
	height: 1.16rem;
	
}
.bookListWrapper>ul>li>.box>.picBox>img:nth-child(3){
	display: inline-block;
	position: absolute;
	left:.25rem;
	bottom: 0;
	border: 1px solid rgba(0,0,0,.1);
	z-index: 6;
	width: 1.16rem;
	height: 1.56rem;
	
}
.bookListWrapper>ul>li>.box>.listBox>h4{
	color: #000;
    font-size: .3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
	font-weight: 500;
}
.bookListWrapper>ul>li>.box>.listBox>span{
	font-size: .24rem;
	height: .72rem;
	color: #999;
	line-height: .36rem;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	margin-top: .22rem;
	max-height: 100%;
}
.bookListWrapper>ul>li>.box>.listBox>p>span{
	margin-top: 8px;
	font-size: .23rem;
    height: .36rem;
    line-height: .38rem;
    border: 1px solid rgba(153,153,153,.3);
    border-radius: .04rem;
    padding: 0 .1rem;
    margin-right: .08rem;
    color: #888;
    display: inline-block;
}
.bookListWrapper>.loading{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
}
.bookListWrapper>.loading>i{
	font-size: .35rem;
	margin-right: 15px;
}
.bookListWrapper>.loading>span{
	font-size: .28rem;
}