*{
	margin: 0;
	padding: 0;
}

/* section滚动设置 */
section{
	position: fixed;
	left:0;
	top:.86rem;
	right: 0;
	bottom:.98rem;
	overflow: scroll;
}
.downLoad>a>#downLoad{
	width: 100%;
}
/* 精品推荐 */
.tit{
	
	padding-left: .32rem;
    color: #333;
    display: inline-block;
    height: .32rem;
    line-height: .32rem;
    font-size: .28rem;
    position: relative;
	font-weight: 400;
	padding-top: .32rem;
}
.fa-goodLists{
	width: 100%;
	height: 3.446rem;
	/* background: #ffc; */
	
}
.goodLists{
	width: 100%;
	height: 2.8rem;
	padding: .32rem 0 .32rem .32rem;
	display: flex;
	flex-wrap: wrap;
}
.goodLists>li{
	width: 25%;
	height: 100%;
	padding-right: .32rem;
}
.goodLists>li img{
	width: 1.45rem;
	height:1.946rem;
}
.goodLists>li span{
	color: #333;
	width: 100%;
	margin: .16rem 0 .04rem;
	display: block;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
	height: .32rem;
    text-align: left;
	font-size: 25px;
}
.goodLists>li i{
	font-style: normal;
	color: #999;
}
.goodLists-change{
	width: 100%;
	height:.96rem;
	text-align: center;
	line-height: .96rem;
	font-size: 30px;
	background: #fff;
	border-top: 1px solid #F0F0F2;
	border-bottom: .16rem solid #F0F0F2;
}
.goodLists-change>span{
	margin-right: 10px;
}
.goodLists-change>i{
	font-size: 35px;
}

/* 女生美文 */
.girlLists>ul{
	width: 100%;
	height: 4.62rem;
	display: flex;
	flex-direction: column;
	padding:0 .32rem;
	
}
.girlLists>ul>li{
	padding:.32rem 0;
	
}
.girlLists>ul>li>span{
	display: inline-block;
	font-size: .31rem;
	line-height: 0;
	width: 4.74rem;
}
.girlLists>ul>li>i,.girlLists>ul>li>b{
	font-style: normal;
	display: inline-block;
    height: .36rem;
    line-height: .38rem;
    padding: 0 .11rem;
    border: 1px solid rgba(153,153,153,.3);
    border-radius: .04rem;
    font-size: .2rem;
    color: #999;
    margin-right: .08rem;
    vertical-align: text-bottom;
    background: transparent;
}
.girlLists>ul>li>em{
	font-style:normal ;
	display: block;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: .24rem;
    line-height: .32rem;
    height: .32rem;
    color: #999;
	width: 100%;
	margin-top: 20px;
	font-size: .26rem;
}
.girlLists>ul>li>.blue{
	color:#57aeff;
}
.girlLists>ul>li>.green{
	color:#77ff57;
}

/* 新书专区 */
.newBooks{
	width: 100%;
	height:7.06rem ;
	/* background: #cff; */
	
}
.newBooks>ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: .32rem;
}
.newBooks>ul>.newPic{
	display: flex;
	width: 100%;
	height: 2.26rem;
	flex-direction: row;
	position: relative;
	margin-bottom: .2rem;
	    
}
.newBooks>ul>.newPic>i{
	font-style: normal;
	background: #ffd100;
	position: absolute;
	z-index: 1;
	display: block;
	font-size:.4rem;
    text-align: center;
    line-height:.69rem;
    color: #fff;
    width: .45rem;
    height: .69rem;
}
.newBooks>ul>.newPic>img{
	border: 1px solid #d4d4d4;
	width: 1.62rem;
	height: 2.2rem;
	margin-right: .32rem;
}
.newBooks>ul>.newPic>div>p:nth-child(1){
	color: #333;
    font-size: .32rem;
    line-height: .36rem;
}
.newBooks>ul>.newPic>div>p:nth-child(2){
	margin-top: 8px;
	font-size: .26rem;
    line-height: .32rem;
    color: #999;
}   
 .newBooks>ul>.newPic>div>p:nth-child(3){
 	height: .72rem;
 	line-height: .36rem;
	color: #999;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: .16rem;
	font-size: .26rem;
 }  
 .newBooks>ul>.newPic>div>span{
	font-size:.23rem;
    height: .34rem;
    line-height: .36rem;
    border: 1px solid rgba(153,153,153,.3);
    border-radius: .04rem;
    padding: 0 .12rem;
    margin-right: .08rem;
    color: #999;
    display: inline-block;
	margin-top: 8px;
 }
 .newBooks>ul>.newPic>div>span.blue{
	color:#57aeff;
}
 .newBooks>ul>.newPic>div>span.green{
	color:#77ff57;
}

 .newBooks>ul>.newLists{
	 width: 6.88rem;
	 height: .4rem;
	 margin-top: .4rem;
	 margin-bottom: .3rem;
	 line-height: .4rem;
	 /* background: #cff; */
 }
 .newBooks>ul>.newLists>span:nth-child(1){
	color: #FFBE73;
	font-size:.4rem;
	font-weight: bold;
 }
 .newBooks>ul>.newLists>span:nth-child(2){
	 display: inline-block;
	width: 3.8rem;
	color: #333;
	font-size: .32rem;
	margin-left: .32rem;
}
 .newBooks>ul>.newLists>span:nth-child(3){
	 font-size:.23rem;
	 height: .34rem;
	 line-height: .36rem;
	 border: 1px solid rgba(153,153,153,.3);
	 border-radius: .04rem;
	 padding: 0 .12rem;
	 margin-right: .08rem;
	 color:#57aeff;
	 display: inline-block;
	 margin-top: 8px;
 }.newBooks>ul>.newLists>span:nth-child(4){
	 font-size:.23rem;
	 height: .34rem;
	 line-height: .36rem;
	 border: 1px solid rgba(153,153,153,.3);
	 border-radius: .04rem;
	 padding: 0 .12rem;
	 margin-right: .08rem;
	 color: #999;
	 display: inline-block;
	 margin-top: 8px;
 }